.header__search {
  margin: 0 auto !important;
}

.header__search form {
  display: flex;
  margin: 0 auto;
}

.header__search .search-input {
  width: 20rem;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none !important;
  height: 100%;
  outline: none !important;
}

.dropdown {
  margin-top: 18px;
  margin-left: -18px;
}

.header__icons {
  margin-left: auto;
}

.header__title {
  cursor: pointer;
}

@media (max-width: 325px) {
  .header__left h2 {
    font-size: 1rem;
  }
  .header__icons {
    display: flex;
  }
}

@media (max-width: 425px) {
  .header__search {
    display: none;
  }
  .dropdown {
    margin-left: -5px;
  }
}

@media (max-width: 780px) {
  .header__search {
    display: none;
  }

  .dropdown {
    margin-left: 0;
  }
}

@media (min-width: 780px) {
  .search {
    display: none !important;
  }
}
